$bg-sucess-toast: rgba(42, 66, 68, 1);
$clr-font-primary: rgba(255, 255, 255, 1);
$clr-font-second: rgba(224, 241, 231, 1);

.success_toast {
    width: clamp(0px, 100%, 450px);
    background: $bg-sucess-toast;
    color: $clr-font-primary;
    padding: 26px 24px;
    border-radius: 12px;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    z-index: 99;
    div {
        display: flex;
        align-items: center;
        gap: 12px;
        span {
            font-size: 18px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
    p {
        color: rgba(224, 241, 231, 1);
        margin: 12px 0 4px;
    }
    &.visible {
        visibility: visible;
    }
}